#connexion
{
    margin-bottom: 10%;
    
}
#info
{
    margin-top: 10%;
    left:10;
    border: solid 2px;
    max-width: 50%;
    height: 300px;
    margin: auto;    
    border-radius:5%;
    padding:1%;
}
#info2
{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

#accueil
{
    max-width:100%;
    padding: 0%;
    margin-top : 10%;
}

#devoir, #formPunition, #ModifierClasse, #modifNote, #formulaireNote,#formListeClasse, #formulaireDevoir, #formulaireIscription
{
    padding: 3%;
    border: solid 2px black;
    border-radius:5%;
    width:100%;
    margin: auto;
    text-align: center;
}
.enteteAccueil
{
    border:2px solid;
    text-align:center;
    color:white;
    background-color : rgb(109, 19, 121);
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
    
}
.information
{
    font-size:1em;
}
.boutonDroite
{
    float:right;
    margin-top:1%;
}
.boutonGauche
{
    float:left;
    margin-top:1%
}
#absence
{
    overflow-y: scroll;
}
#absenceInjustif
{
    color:red;
}
.divAbsence
{
    border:2px solid;
    width:100%;
    height:320px
}

#absenceJustif
{
    color : green;
}

#titre
{
    text-align: center;
}

/* #nomEleve
{

} */
/*Edt*/

.etu-index-edt-block{

    float:left;
    border:2px solid;
    width:35%;
    height:850px;
    
}

.etu-index-note-block{
 
    border:2px solid;
    width:100%;
    height:320px;

}

.etu-index-abs-block{
    display:block;
    border:2px solid;
    width:100%;
    height:320px;
    margin-top:85vh;
   
}

.etu-index-devoir-block{
   
    width:100%;
    border:2px solid;
    height:350px;
}
.etu-index-contain-ndabs{
    float:right;
    width:50%
}
.div_messagerie
{
    display: flex!important;
    flex-wrap: wrap;
}

.cookie-block{
    position: absolute;
    background-color: #d6d6d6;
    border-style:solid;
    margin-left:1px;
    margin-bottom:1px;
    padding:2%;
    bottom: 0;
    width:40%;
}
.cookie-info{
    
    float:left;
}
.cookie-button{
    margin-top:1%;
}